parameters:
	ignoreErrors:
		-
			message: '#^Parameter \$rows of function Laravel\\Prompts\\table expects array\<int, array\<int, string\>\>\|Illuminate\\Support\\Collection\<int, array\<int, string\>\>\|null, array\{array\{name\: mixed, url\: mixed, events\: string, testmode\: mixed\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/SetupWebhookCommand.php
